body {
    font-family: Arial;
}

table {
    border-spacing: 0px;
    border-collapse: separate;
}

td {
    min-width: 8em;
    padding: 8px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #C7C7C7;
}

th {
    font-size: smaller;
    font-weight: normal;
    color: gray;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #C7C7C7;
}

#diagram-container {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: white;
}

#control-panel {
    font-size: larger;
}

.data-label {
    padding-top: 5px;
    padding: 2px;
    font-family: sans-serif;
    background-color: #F3F3F3;
    color: #6D6D6D;
    border-bottom: 2px solid #9FCDD9;
}

.flow-file {
    background-color: white;
    border: 3px solid #6B825E;
    box-shadow: 5px 5px 3px #C3C3C7;
    position: absolute;
}

.flow-file-id {
    padding: 8px;
    font-weight: bolder;
    background-color: #92B281;
    color: #FAFAFA;
}

.flow-file-content {
    padding: 8px;
}

.processor {
    background-color: white;
    border: 3px solid #577077;
    box-shadow: 5px 5px 3px #C3C3C7;
    position: absolute;
}

.processor-name {
    font-family: Arial;
    font-weight: bolder;
    padding: 8px;
    background-color: #409CB4;
    color: #FAFAFA;
}